DATABASE_URL=postgresql://user:password@host:5432/dbname
NODE_ENV=development
PORT=3001

# Google Sheets API — módulo Tareas
GOOGLE_SERVICE_ACCOUNT_EMAIL=tareas-bot@mi-proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SPREADSHEET_ID=1mXnfQdwM9MdSP44CKsJVHG4Pe1qr8FvP7MKoK0ZlmWg
TASKS_SHEET_NAME=Trabajo pendiente
FINALIZADOS_SHEET_NAME=Finalizados
